/* Users.css */
body {
  color: black; /* Force tout le texte à être noir */
}

.app_container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

h2 {
  font-size: 24px;
}

p {
  font-size: 14px;
}

.tabs {
  display: flex;
  margin-bottom: 20px;
}

.tab_button {
  flex: 1;
  padding: 10px;
  border: none;
  background-color: #f4f4f4;
  cursor: pointer;
}

.tab_button.active {
  background-color: #007BFF;
  color: white;
}

.tab {
  border: 1px solid #ddd;
}

table {
  width: 100%;
}

thead {
  background-color: #f4f4f4;
}

.accepter {
  background-color: #4CAF50;
}

.rejeter {
  background-color: #F44336;
}
