/* RegistrationForm.css */

.registration-container {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  padding: 30px;
  border-radius: 10px;
  max-width: 400px;
  width: 100%;
  box-sizing: border-box;
}

.registration-container h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 24px;
  color: white;
}

.input-wrapper {
  margin-bottom: 20px;
}

.input-wrapper input,
.input-wrapper select {
  width: 100%;
  padding: 12px;
  border-radius: 30px;
  border: none;
  font-size: 16px;
  color: black;
  box-sizing: border-box;
  outline: none;
  background-color: white;
}

/* Modified section */
.input-wrapper input::placeholder,
.input-wrapper select {
  color: #aaa;
  font-size: 14px; /* Make the placeholder slightly smaller */
}

.input-wrapper select::placeholder { /* target only select placeholder */
    font-size: 12px; /* Even smaller for select */
}

.input-wrapper select::-ms-expand {
  display: none;
}





button[type="submit"] {
  background-color: white;
  color: #011225;
  padding: 12px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #ddd;
}

.login-link {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: white;
}

.login-link a {
  color: #011225;
  text-decoration: none;
}


.registration-container + p {
  display: none;
}

